body{
    background-color: #E94B41;
    ;
}

.container{
    width: 100%;
    height: 80vh;
      
}

.header{
    width: 90%;
    margin: auto;
}
.logo, .img{
    width: 50%;
    margin-top: 5%;



display: inline-block;


}
.social, .img{
    width: 5%;
    height: 46px;
    display: inline-block;
    margin-left: 2%;

}
.button{
    width: 35%;
    display: inline-block;
    margin-left: auto;
    bottom: 20px;
    position: relative;
}
.btn_1{
    background-color: #94C5C6;
    border: 4px solid #000000;
    font-family: Mono45 Headline;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    width: 40%;
    height: 47px;
    border-radius: 8px;
    box-shadow: 8px 8px 0px 0px #000000;
    display: inline-block;
    margin-left: 5%;

}
.btn_2{
    background-color: #F1E116;
    border: 4px solid #000000;
    font-family: Mono45 Headline;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    width: 40%;
    height: 47px;
    border-radius: 8px;
    box-shadow: 8px 8px 0px 0px #000000;
    display: inline-block;
    margin-left: 5%;
    align-items: center;
    
    
}
.content{
    width: 5%;
    
    
    
    font-family: Andale Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.02em;
    text-align: center;
    display: inline-block;
    bottom: 20px;
    position: relative;

}
.image-content{
    width: 50%;
    /* height: 601px; */
    /* top: 248px; */
    /* left: 91px; */
    /* position: absolute; */
    padding-left: 5%;
    padding-top: 5%;

}
.content-header{
    width: 40%;
    display: inline-block;

}
.header-para{
    font-family: Mono45 Headline;
    font-size: 66px;
    font-weight: 900;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: left;
}
.para-txt{
    font-family: Andale Mono;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    top: -50px;
    position: relative;
}
.btn_txt{
    width: 170px;
    height: 50px;
    
    top: -50px;
    left: 0px;
    border-radius: 8px;
    border: 4px;
    background-color: #F1E116;
    border: 4px solid #000000;
    box-shadow: 8px 8px 0px 0px #000000;
    text-align: center;
    font-family: Mono45 Headline;
    font-size: 24px;
    font-weight: 700;
    line-height: 3px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;


}
.content-data{
    width: 95%;
    height: 268px;
    /* top: 820px; */
    margin: auto;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background-color: #94C5C6;
    /* position: relative; */
    /* margin-top: 0px; */
    /* padding-top: 0px; */
    top: -21px;
    position: relative;

}
.d1{
    width: 40%;
    height: fit-content;
    padding-bottom: 5%;
   
    
    font-family: Mono45 Headline;
    font-size: 30px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.02em;
    text-align: left;
    display: inline-block;
    padding: 2%;
  

    
}
.d2{
    font-family: Andale Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
    width: 50%;
    height: 260px;
    display: inline-block;
   
   


}
.testmonial{
    font-family: Mono45 Headline;
    font-size: 53px;
    font-weight: 700;
    line-height: 4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #F1E116;
    width: 100%;
    /* height: 81px; */
    bottom: 37px;
    position: relative;

}
.address{
    
    color: #000000;
    width: 100%;
    height: 81px;
    bottom: 9px;
    position: relative;
    font-family: Mono45 Headline;
    font-size: 45px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: -0.02em;
    text-align: center;

}
.footer-logo {
    width: 51.94px;
    height: 61.08px;
    position: absolute;
    top: 508px;
    left: 50%;
    transform: translateX(-50%);

}

